body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}

.panel {
    width: 550px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    text-align: center;
}

.panel-header h1 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.filter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-form input[type="text"] {
    padding: 8px;
    font-size: 14px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-form button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #45a049;
}

.matches-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.matches-table th, .matches-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 1.2;
    height: 30px;
}

.matches-table th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #333;
}

.matches-table td {
    color: #555;
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 20px;
}

.page-info {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    color: #555;
    margin: 0 20px;
}

.page-button {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    display: inline-block;
}

.page-button:hover {
    background-color: #45a049;
}

.home-button {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    display: inline-block;
}

.home-button:hover {
    background-color: #0056b3;
}


.panel-footer {
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    text-align: center;
}

.panel-footer p {
    margin: 0;
}
